.album{

}

.album-header{
   --min-height : calc(8rem + (  2px + 90px));
   display: flex;
   gap: 2rem;
   padding: 4rem 0 3rem;
   margin-top: 2rem;
   min-height: var(--min-height);
}

.album-header img{
   width: 90px;
   height: 90px;
   border-radius: 4px;
}

.album-details {
   display: flex;
   flex-direction: column;
   align-items: space-between;
}

.album-details-bottom{
   color: rgba(255, 255, 255, 0.4);
}

.album-details h2{
   font-weight: 600;
}

.album-details h3{
   font-size: 1rem;
   margin: .5rem 0;
   font-weight: 500;
   color: rgb(255, 255, 255, .6);
}

.album-details h3:hover{
   color: white;
   cursor: pointer;
}

.item-music{
   color: rgba(255, 255, 255, 0.6);
   margin: 0 .5rem;
   padding: .5rem 1rem;
   font-weight: 400;
   cursor: pointer;
   border-radius: 25px;
   border: 1.5px solid transparent;

   transition: border .2s linear;
}

.item-music span {
   margin-right: 2rem;
   color: rgba(255, 255, 255, 0.5);
}

.item-music:hover span{
   color: white;
}

.item-music span:last-child {
   position: absolute;
   right: 2rem;
}

.item-music:hover{
   color: white;
   /* font-weight: 500; */
   background-color: rgb(15, 15, 15);
   border-color: rgba(255, 255, 255, 0.4);
}