.aside-container {
   display: flex;
   position: relative;
   flex-direction: column;
   background: rgb(5, 5, 5);
   
   width: 26rem;
   height: calc(100% - 2rem);
   margin: 2rem 0 0;
   overflow-y: auto;
   z-index: 900;
}

.aside-container > div{
   position: relative;
}

.aside-container > div:last-child{
   margin-bottom: 2rem;
   box-shadow: none;
}

.category-item {
   display: flex;
   position: sticky;
   top: 0;
   box-shadow: 0 2px 0 rgb(30, 30, 30);
   padding: 1rem .2rem;
   background-color: rgb(5, 5, 5);
   align-items: center;
   gap: 1.6rem;
   font-size: 1rem;
   margin-left: 1.2rem;
   color: rgb(190, 190, 190);
   font-weight: 500;

   transition: color .2s ease;

   cursor: pointer;
}

.category-item svg:first-child{
   width: 1.5rem !important;
   height: 1.5rem !important;
   opacity: 0.5;
}

.category-item:hover svg, .active-category > svg{
   opacity: 1 !important;
   transition: opacity .3s ease;
}

.category-item:hover, .active-category {
   color: white;
}

.category-container svg:last-of-type{
   position: absolute;
   width: 1.3rem;
   right: 1rem;
   opacity: 0.5;
}

.category-item:hover svg, .active-category svg:last-child{
   opacity: 1;
}

.opened-category{
   transform: rotate(90deg);
}

.sub-category{
   display: none;
   margin: 1rem 0;
   padding-left: 2.4rem;

   animation: open-subcategory .4s ease;
}

@keyframes open-subcategory {
   from{
      opacity: 0.1;
   }to{
      opacity: 1;
   }
}

.open-sub-category{
   display: block;
}

.sub-category li{
   padding: .6rem 0;
   font-size: 0.95rem;
   color: rgb(200, 200, 200);

   font-weight: 400;
   cursor: pointer;

}

.sub-category li:hover, .active-category {
   color: white;
}